@font-face {
    font-family: 'Kalam';
    src: url('../fonts/Kalam/Kalam-Regular.ttf')
 
}   


*{
    margin: 0%;
    padding: 0%;
}


body {
    /* background: #0b3c25 url('../img/fondo6.jpg') repeat; */
    background: #0b3c25 url('../img/fondo-7.jpeg') repeat;
    animation: mover-fondo 300s linear infinite;
}

@keyframes mover-fondo{
    from{background-position: 0 0;}
    to{background-position: 100vw 0;}
}

nav {
    background-color: rgb(0, 255, 115);
    height: 10vh;
    font-family: 'Kalam';
    font-size: 1.9vw;
    text-align: center;
    border-radius: 0% 0% 20% 20%;
    padding-top: 1%;
    margin-bottom: 5vh;
}


nav a {
    font-size: 2vw;
    text-decoration: none;
    padding-left: 2.5vw;
}

footer{
    background-color: rgb(0, 255, 115);
    margin-top: 3vh; 
}
p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 90%;
    margin: 0 auto;
    padding: 8px;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: #3c00ff;
    margin-left: 30vw;
    padding-bottom: 1.5%;
}

h4{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.3em;
    color:darkslategrey;
    padding-bottom: 2%;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:gray;
    border: 3px solid black;
    border-radius: 20px;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #00bfff;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:  11.5vw;
    margin-top: 4vh;
    
    font-size: 1.2em;

}

input[type="submit"]:hover {
    background-color: #00b34b;
    
    
}


iframe{
     margin-left: 33vw;
     height: 450px;
     width: 450px;
     margin-bottom: 5vh;
}

.formu-lario{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


    
@media screen and (max-width:600px){
    .for{
        grid-template-columns: repeat(1,min-max(35vw,1fr))
        
        
    }
    input[type="submit"]{
        margin-left: 20vw;
        margin-right: 10%;
    }

    form{
        width: 60vw;
    }
    
    .img{
        width: 60vw;
        height: 50vh;
        margin-left: 17%;
        margin-right: 0%;
        
        
    }
    nav {
        height: 6vh;
        border-radius: 0% 0% 20% 20%;
        padding-top: 1%;
        margin-bottom: 5vh;
    }

    nav a{
        font-size: 3.5vw;
        padding-left: 3.5vw;
    } 

    h1{
        font-size: 22px;
        text-align: center;
        margin-left: 0px;
    }

    
    .reloj{
        height: 10px;
        margin-bottom: 7vh;
        margin-top: 0%;
    }  
       
}
@media (min-width: 601px) and ( max-width:900px){
    
    .for{
         grid-template-columns: repeat(1,min-max(35vw,1fr))

    }

    .img{
        width: 50vw;
        height: 50vh;
        margin-right: 0%;
        margin-left: 25%;

   
    }    

    nav {
        height: 8vh;
        border-radius: 0% 0% 20% 20%;
        padding-top: 1%;
        margin-bottom: 5vh;
    }
    
    nav a{
        font-size: 3.5vw;
        padding-left: 3.5vw;
    } 

    h1{
        font-size: 25px;
        text-align: center;
        margin-left: 0%;
        margin-top: 1vh;

    }
    input[type="submit"]{
        margin-left: 20vw;
        margin-right: 10%;
    }

    .reloj{
        height: 80px;
        margin-bottom: 7vh;

    } 
} 

@media (min-width: 901px) and ( max-width:1900px){
    .for{
         grid-template-columns: repeat(1,min-max(68vw,1fr))
    }

    .img{
        
        margin-right: 0%;
        margin-left: 33%;
        margin-bottom: 5%;


    }
     input[type="submit"]{
        margin-left: 16vw;
        margin-right: 0%;
    } 
    nav {
        height: 8vh;
        border-radius: 0% 0% 20% 20%;
        padding-top: 1%;
        margin-bottom: 5vh;
    }
    
    nav a{
        font-size: 2.5vw;
        padding-left: 3.5vw;
    } 
    h1{
        text-align: center;
        font-size: 4vw;
        font-family: 'Kalam';
        margin-left: 8vw;
        padding-top: 0%;
    }
}   