@font-face {
    font-family: 'Kalam';
    src: url('../fonts/Kalam/Kalam-Regular.ttf')
 
}   


*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: rgb(0, 255, 115);
    height: 15vh;
     font-family: 'Kalam';
    text-align: center;

   
    border-radius: 0% 0% 20% 20%;
    padding-top: 1%;    
    margin-bottom: 7vh
}

.hipervinculo{
    font-size: 30px;
  
   text-decoration: none;
   padding-left: 2.5vw; 
} 

footer{
    background-color: rgb(0, 255, 115);
    padding-top: 5vh; 
}
h4{
    text-align: center;
}

h2{
    padding-left: 15vw;
    font-size: 6vh;
    font-family: 'Alkatra';
}


