p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 90%;
    margin: 0 auto;
    padding: 8px;
}

h2 {
    text-align: center;
    padding-left: 0%;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    color:darkslategrey;
    padding-bottom: 2%;
} 

/* form {
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color:gray;
    border: 3px solid black;
    border-radius: 20px;
    text-align: left;
} */

form{
    /* width: 150vw; */
    width: 50vw;
    /* max-width: 450px; */
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color:gray;
    border: 3px solid black;
    border-radius: 20px;
    text-align: left;
    font-size: 2rem;
    height: auto;
}


label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;    
}

.modificar {
    /* padding: 10px;
    background-color: #00bfff;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    margin-top: 4vh;
    font-size: 1.2em; */

    padding: 0.2vw 0.3vh;
    font-size: 1.6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #00bfff;
    color: black;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.modificar:hover {
    background-color: #00b34b;
}
.boton{
    /* padding: 10px;
    background-color: #00bfff;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    
    font-size: 1.2em;
    
    */
    padding: 0.2vw 0.3vh;
    font-size: 1.6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #00bfff;
    color: black;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-decoration: none;
    
}

.boton:hover{
    background-color: #00b34b;
}
.horario{
    font-size: 1.5rem;
}

iframe {
    height: 450px;
    width: 600px;
}

.for{
    grid-template-columns: repeat(1,min-max(68vw,1fr));
    margin-bottom: 9vh;
    text-align: center;
}

.formu-lario{
    display: flex;
    flex-direction: column;
    align-items: baseline;    
}

.dolar{
    color: white;
    width: 10vw;
    max-width: 200px;
    float: right;
    padding: 20px;
    background-color:gray;
    border: 3px solid black;
    border-radius: 20px;
    text-align: right;
}
    
@media screen and (max-width:600px){
    .for{
        grid-template-columns: repeat(1,min-max(35vw,1fr));
        justify-content: center;
    }


    form{
        /* width: 150vw; */
        width: 45vw;
        /* max-width: 450px; */
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        background-color:gray;
        border: 3px solid black;
        border-radius: 20px;
        text-align: left;
        font-size: 1rem;
        height: 30vh;
        margin-bottom: 20vh;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 10px;
        
    }

    .horario{
        font-size: 10px;
    }
    nav {
        height: 6vh;
        border-radius: 0% 0% 20% 20%;
        padding-top: 1%;
        margin-bottom: 5vh;
    }

    nav a{
        font-size: 3.5vw;
        padding-left: 3.5vw;
    } 

    h1{
        font-size: 30px;
        text-align: center;
        margin-left: 0px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
    width: 90%;
    height: 1vh;
    }

    h2 {
        font-size: 4vw;
    }
    h3{
        font-size: 20px;
    }
    .modificar{
        font-size: 15px;
    }
    .reloj{
        height: 10px;
        margin-bottom: 7vh;
        margin-top: 0%;
    }  

    iframe {
        width: 90vw;
        height: 50vh;
    }
       
}
@media (min-width: 601px) and ( max-width:900px){
    
    .for{
         grid-template-columns: repeat(1,min-max(35vw,1fr));
         text-align: none;
    }

    nav {
        height: 8vh;
        border-radius: 0% 0% 20% 20%;
        padding-top: 1%;
        margin-bottom: 5vh;
    }
    
    nav a{
        font-size: 3.5vw;
        padding-left: 3.5vw;
    } 

    h1{
        font-size: 25px;
        text-align: center;
        margin-left: 0%;
        margin-top: 1vh;

    }

    h2 {
        font-size: 3vw;
    }


    iframe {
        width: 90vw;
        height: 50vh;
    }

    .reloj{
        height: 80px;
        margin-bottom: 7vh;

    } 
} 