.gotas{
    background: #0b3c25 url('../img/fondo6.jpg') repeat;
    animation: mover-gotas 100s linear infinite;
}
@keyframes mover-gotas{
    from{background-position: 0 0;}
    to{background-position: 100vw 0;}
}
