.contenedor{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    height: 80vh;
}

#tronco{
    background-image: url("../img/tronco.png");
    background-size: 80%;
    background-repeat: round;
    border-radius: 50% 50% 0% 0% / 50% 10% 0% 0%;
    width: 13vw;
    display: flex;
    left: 20%;
    
}
.recetas{ /* section */
    position: relative;
    display: flex;
    left: -2.5%;
}

.lista-receta {  /* Ul */
    width: 20vw;
    margin: 0 auto;
    
}

.item { /* li */
    font-size: 1.4em;
    padding: 10px ;
    margin-top: 8px;
    background-color: rgb(12, 146, 12);
    border-radius: 2em 8em 9em 2em / 100% 80% 90% 60%;
    border: none;
    cursor: pointer;
    list-style-type: none;
}

.titulo {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.contenido-receta { /* descripción receta */
    font-size: 1.1em;
    display: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 2em 8em 9em 1em / 100% 80% 50% 60%;
    width: 50vw;
    background-color: rgba(0, 255, 115, 0.5);
}

.item.active + .contenido-receta {
    display: block;
}




