<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/2_aloevera2.ico">
    
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>

<body>
  <header>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="plantas.html">Plantas</a>
        <a href="recetas_medicinales.html">Recetas medicinales</a>
        <a href="curso.html">Curso</a>
        <a href="contacto.html">Contacto</a>
    </nav>

  </header>
  <main>
    <section class="for">
      <div class="formu-lario">
        <form action="" method="post" id="formulario" onsubmit="return loguear()">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required><br>

        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="pass" required><br>

        <div class="entrada">
          <input type="submit"></input>
        </div>

        </form>
      </div>
    </section>
  </main>
  
  <footer>
    <h4>Derechos reservados @2023</h4>
    <img src="../img/instagram (1).png" alt="" style="width: 3vw; margin-left: 45vw;" >
    <img src="../img/facebook.png" alt="Facebook" style="width: 3vw; margin-right: 45vw;">
    
  </footer>
    <script src="../js/login.js"></script>
</body>
</html>