<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/2_aloevera2.ico" />
    <link rel="stylesheet" href="../css/plantas.css" />
    <link rel="stylesheet" href="../css/fondo.css">
    <title>Plantas y sus propiedades</title>
  </head>
  <body class="gotas">
    
    <header>
      <div class="header"></div>

      <nav class="header">
        <a class="hipervinculo" href="../index.html">Inicio</a>
        <a class="hipervinculo" href="../template/plantas.html">Plantas</a>
        <a class="hipervinculo" href="../template/recetas_medicinales.html">Recetas medicinales</a>
        <a class="hipervinculo" href="../template/contacto.html">Contacto</a>
      </nav>
    </header>

    <main>
      <h1>Plantas medicinales y sus propiedades</h1>

      <section class="container">
        <div>
          <img class="ajo" src="../img/ajo3.jpg" alt="Ajo" />
            <h2 style="color:green;";">Ajo</h2>
            <p class="parrafo">El ajo es un alimento con muchos beneficios y propiedades. Actúa como anticoagulante, antibacteriano, antibiótico y antioxidante además de combatir la congestión nasal, entre otras muchas propiedades.
            </p>
             
        </div>
        <div>
          <img class="alba" src="../img/albahaca.jpg" alt="albahaca" />
          <h2 style="color: green;">Albahaca</h2>
          <p class="parrafo">El aceite contenido en las hojas destruye las bacterias e insectos.
  
            El zumo de las hojas alivia bronquitis, fiebres, catarros, inflamaciones de garganta y problemas digestivos. Gracias a su olor y suave sabor aromático se usa como condimento. Contra flatulencia y gases, es antiespasmódica.
            
            Una infusión de hojas frescas y gotas de limón calman los dolores de estómago y espasmos intestinales. La infusión de sus hojas es diurética, estimulante, digestiva y relajante; el zumo de las hojas con miel de abejas alivia la fiebre.
            
            El té de albahaca hace producir más leche en las madres. El té frío es bueno para problemas en los ojos, tanto en enjuague como bebida. La albahaca es el gran regulador del sistema nervioso.
            
            Su mayor uso está en la lucha contra la fatiga, por su valor como activador del sistema inmune.</p>
        </div>
        <div>
          <img class="aloe" src="../img/aloe vera.jpg" alt="aloe" />
          <h2 style="color: green;">Aloe vera</h2>
          <p class="parrafo">Es muy útil para aplicar sobre cortes, heridas, picaduras de insectos, quemaduras y cicatrices, ideal para refrescar la piel reseca. Mejora la apariencia de una piel propensa al acné. Purificador natural del aire de casa.
  
            Lo mejor es usar la gelatina interna de sus hojas, hacer un gel para uso externo.</p>
        </div>
  
        <div>
          <img class="diente" src="../img/diente2.webp" alt="diente-de-leon" />
          <h2 style="color: green;">Diente de león</h2>
          <p class="parrafo">La hoja del diente de león tiene más hierro y calcio que las espinacas. Tiene muchas propiedades tal vez la más conocida es la estimulación de la actividad hepática. La infusión de diente de león ayuda a que el metabolismo del hígado, eliminando toxinas más fácilmente, aumenta el flujo de bilis, y ayuda en la digestión de las grasas.
  
            CUIDADO: No utilizar el diente de león, si usted está embarazada o llevando un tratamiento con antibióticos, anticoagulantes, o fármacos protectores gástricos que contengan litio.
            </p>
        </div>
  
        <div>
          <img class="lavanda" src="../img/lavanda3.jpg" alt="lavanda" />
          <h2 style="color: green;">Lavanda</h2>
          <p class="parrafo">La lavanda es una planta medicinal que posee muchas propiedades, destaca sus efectos calmantes y relajantes, por lo que normalmente se utilizan para tratar la ansiedad, el insomnio, la depresión y problemas asociados con los cambios de humor. Es antiséptica y anti-inflamatoria, aromatiza y sirve para mantener insectos alejados, se puede usar como anti-polillas colgando un ramito en el armario.
  
            Pero la cosa no queda ahí, existen otros muchos beneficios de la lavanda para trata otras muchas dolencias si la utilizamos en forma de té , infusión o aceite: el té de lavanda ayuda a mejorar la inflamación de vejiga y problemas urinarios, los paños de agua de flores de lavanda reducen los niveles de dolor de cabeza, el aceite de lavanda ayuda a aliviar el reumatismo, el tónico de lavanda es utilizado frecuentemente en aroma-terapia para ayudar a relajarse.</p>
        </div>
  
        <div>
          <img class="menta" src="../img/menta.jpg" alt="menta" />
          <h2 style="color: green;">Menta</h2>
          <p class="parrafo">Cada una de las diferentes variedades de Menta tiene sus usos en la medicina popular pero, básicamente, es utilizada como digestiva y como calmante de trastornos gastrointestinales y para reducir resfriados. Estimula los sentidos y mejora el humor. Como infusión es excelente para hacer la digestión, tratar resfriados y quitar el hipo. También funciona para aliviar dolores de cabeza, migrañas o dolores causados por contusiones. Igual que el romero y el alcanfor, se para irritaciones cutáneas y resfriados, dolores de cabeza y dolor de muelas –masticar la hoja- Las hojas en infusión, se emplean contra el insomnio. Los tallos machados son eficaces contra las picaduras de insectos.
  
            La menta, se utiliza muchísimo en las comidas, para perfumar las estancias cerradas, además, repele hormigas, pulgones y algunas otras de las plagas más comunes en estas plantas medicinales.
            
            Se aplica casi siempre en forma de infusión , aunque para la piel se utiliza compresas húmedas.</p>
        </div>
  
        <div>
          <img class="oregano" src="../img/oregano3.jpg" alt="oregano" />
          <h2 style="color: green;">Orégano</h2>
          <p class="parrafo">Se usa para perder peso, promoción del sistema digestivo, tratamiento de la infección del dolor de muelas.
  
            Es antibacterial, antioxidante, antihongos, antiinflamatorio, antihistamínico (para ayudar en el tratamiento de la alergia), alivia enfermedades de la piel, combate enfermedades respiratorias, se usa para tratar la congestión nasal y pulmonar, alivia dolores musculares y dolores, disminuye los cólicos menstruales, alivia malestar estomacal, estimulante inmunológico. Su té alivia la tos, indigestión, calambres musculares y dolores de cabeza, y es antifúngico.</p>
        </div>
  
        <div>
          <img class="perejil" src="../img/perejil.jpg" alt="perejil" />
          <h2 style="color: green;">Perejil</h2>
          <p class="parrafo">Potenciador del sistema inmunológico, reduce el mal aliento, para consumirlo solo debemos machacar unas hojas y comerlas, aproximadamente una cucharada diaria seria lo adecuado.
  
            Es excelente para realzar el cabello oscuro y resulta un buen antídoto contra la caspa. Los que tienen la piel muy grasa pueden aplicarse tanto una crema nutritiva anti-acné a base de perejil y lavanda como leche de menta y perejil.
            
            Este tratamiento, combinado con una mascarilla facial de frecuencia semanal, puede producir resultados muy notables. También a base de perejil se elaboran lociones para los ojos y contra las arrugas y un excelente líquido para limpiarse la boca.</p>
        </div>
  
        <div>
          <img class="romero" src="../img/romero2.png" alt="romero" />
          <h2 style="color: green;">Romero</h2>
          <p class="parrafo">Se hace con él un eficaz remedio contra la caspa que, magnífico acondicionador y tónico del cabello, deja el cabello brillante y con aspecto sano; además puede prepararse en casa.
  
            El romero también es bueno para tratamientos faciales al vapor, para echarlo en el agua del baño y para darse friegas en la piel. El Romero se usa para tratar la hipertensión arterial, el sobrepeso o la caída del cabello.
            
            Es muy bueno para problemas digestivos, anti-espasmódico, sedante, tónico, diurético y estimulante del sistema nervioso.
            </p>
        </div>
  
        <div>
          <img class="salvia" src="../img/salvia4.jpg" alt="salvia" />
          <h2 style="color: green;">Salvia</h2>
          
          <p class="parrafo">Se usa en infusiones para excitar las secreciones y tonifica el sistema nervioso. Alivia la atonía del estómago y órganos digestivos, diarrea, dispepsias inveteradas, vómitos nerviosos, resfriados, catarros, fiebres nerviosas, gota, reumatismo crónico, congestión cerebral.
  
            Favorece la cicatrización de las úlceras de las piernas y activa la circulación sanguínea. Descubre todas sus propiedades medicinales.
            
            En la cocina se utiliza para condimentar carnes.
            </p>
        </div>
  
        <div>
          <img class="tomillo" src="../img/tomillo4.jpg" alt="tomillo" />
          <h2 style="color: green;">Tomillo</h2>
          <p class="parrafo">El tomillo sigue usándose para la elaboración de jabones y antisépticos y su papel es importante en muchos productos de tocador de elaboración casera. Con él se hace un tónico facial refrescante y astringente, un baño de pies relajante y un buen aditivo para el agua del baño, además de un champú delicioso.</p>
        </div>
      </section>
      
    </main>
   <footer>
    <h4>Derechos reservados @2023</h4>
    <img src="../img/instagram (1).png" alt="" style="width: 3vw; margin-left: 45vw;" >
    <img src="../img/facebook.png" alt="Facebook" style="width: 3vw; margin-right: 45vw;">
    
   </footer>
  </body>
</html>
