<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/2_aloevera2.ico" />
    <link rel="stylesheet" href="../css/plantas.css" />
    <link rel="stylesheet" href="../css/fondo.css">
    <title>Plantas y sus propiedades</title>
  </head>
  <body class="gotas">
    
    <header>
      <nav class="header">
        <a class="hipervinculo" href="../index.html">Inicio</a>
        <a class="hipervinculo" href="plantas.html">Plantas</a>
        <a class="hipervinculo" href="recetas_medicinales.html">Recetas medicinales</a>
        <a class="hipervinculo" href="contacto.html">Contacto</a>
      </nav>
    </header>

    <main>
      <h1>Plantas medicinales y sus propiedades</h1>

      <section class="container">
        <div id="text-container"><h3><br>Elija una planta para ver su información</h3></div>
        <div class="image-gallery"><br><br>
        <!-- Ajo -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>El ajo es un alimento con muchos beneficios y propiedades. Actúa como anticoagulante, antibacteriano, antibiótico y antioxidante además de combatir la congestión nasal, entre otras muchas propiedades.</p>`)">
          <img src="../img/ajo2.png" class="plantas-img" alt="Ajo">
          <div class="image-overlay">Ajo</div> 
        </div>
        <!-- Albahaca -->
        <div class="image-container"  onclick="mostrarTexto(`<p class='parrafo'>El aceite contenido en las hojas destruye las bacterias e insectos. <br>El zumo de las hojas alivia bronquitis, fiebres, catarros, inflamaciones de garganta y problemas digestivos. Gracias a su olor y suave sabor aromático se usa como condimento. Contra flatulencia y gases, es antiespasmódica.<br>Una infusión de hojas frescas y gotas de limón calman los dolores de estómago y espasmos intestinales. La infusión de sus hojas es diurética, estimulante, digestiva y relajante; el zumo de las hojas con miel de abejas alivia la fiebre.<br>La albahaca es el gran regulador del sistema nervioso.<br>Su mayor uso está en la lucha contra la fatiga, por su valor como activador del sistema inmune.</p>`)">
            <img src="../img/albahaca2.png" class="plantas-img" alt="Albahaca">
            <div class="image-overlay">Albahaca</div>
        </div>
        <!-- Aloe Vera -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>Es muy útil para aplicar sobre cortes, heridas, picaduras de insectos, quemaduras y cicatrices, ideal para refrescar la piel reseca. Mejora la apariencia de una piel propensa al acné. Purificador natural del aire de casa.<br> Lo mejor es usar la gelatina interna de sus hojas, hacer un gel para uso externo.</p>`)">
            <img src="../img/aloe_vera2.png" class="plantas-img" alt="Aloe Vera">
            <div class="image-overlay">Aloe Vera</div>
        </div>
        <!-- Diente de león -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>La hoja del diente de león tiene más hierro y calcio que las espinacas. Tiene muchas propiedades tal vez la más conocida es la estimulación de la actividad hepática. La infusión de diente de león ayuda a que el metabolismo del hígado, eliminando toxinas más fácilmente, aumenta el flujo de bilis, y ayuda en la digestión de las grasas.<br><mark>CUIDADO:</mark> No utilizar el diente de león, si usted está embarazada o llevando un tratamiento con antibióticos, anticoagulantes, o fármacos protectores gástricos que contengan litio.</p>`)">
            <img src="../img/diente2.png" class="plantas-img" alt="Diente de León">
            <div class="image-overlay">Diente de león</div>
        </div>
        <!-- Lavanda -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>La lavanda es una planta medicinal que posee muchas propiedades, destaca sus efectos calmantes y relajantes, por lo que normalmente se utilizan para tratar la ansiedad, el insomnio, la depresión y problemas asociados con los cambios de humor. Es antiséptica y anti-inflamatoria, aromatiza y sirve para mantener insectos alejados, se puede usar como anti-polillas colgando un ramito en el armario.<br>El té de lavanda ayuda a mejorar la inflamación de vejiga y problemas urinarios, los paños de agua de flores de lavanda reducen los niveles de dolor de cabeza, el aceite de lavanda ayuda a aliviar el reumatismo, el tónico de lavanda es utilizado frecuentemente en aroma-terapia para ayudar a relajarse.</p>`)">
          <img src="../img/Lavanda2.png" class="plantas-img" alt="Lavanda">
          <div class="image-overlay">Lavanda</div>
        </div>
        <!-- Menta -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>Cada una de las diferentes variedades de Menta tiene sus usos en la medicina popular pero, básicamente, es utilizada como digestiva y como calmante de trastornos gastrointestinales y para reducir resfriados. Estimula los sentidos y mejora el humor. Como infusión es excelente para hacer la digestión, tratar resfriados y quitar el hipo. También funciona para aliviar dolores de cabeza, migrañas o dolores causados por contusiones. Igual que el romero y el alcanfor, se para irritaciones cutáneas y resfriados, dolores de cabeza y dolor de muelas –masticar la hoja- Las hojas en infusión, se emplean contra el insomnio. Los tallos machados son eficaces contra las picaduras de insectos.</p>`)">
          <img src="../img/menta2.png" class="plantas-img" alt="Menta">
          <div class="image-overlay">Menta</div> 
        </div>
        <!-- Orégano -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>Se usa para perder peso, promoción del sistema digestivo, tratamiento de la infección del dolor de muelas. <br>Es antibacterial, antioxidante, antihongos, antiinflamatorio, antihistamínico (para ayudar en el tratamiento de la alergia), alivia enfermedades de la piel, combate enfermedades respiratorias, se usa para tratar la congestión nasal y pulmonar, alivia dolores musculares y dolores, disminuye los cólicos menstruales, alivia malestar estomacal, estimulante inmunológico. Su té alivia la tos, indigestión, calambres musculares y dolores de cabeza, y es antifúngico.</p>`)">
          <img src="../img/oregano2.png" class="plantas-img" alt="Orégano">
          <div class="image-overlay">Orégano</div> 
        </div>
        <!-- Perejil -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>Potenciador del sistema inmunológico, reduce el mal aliento, para consumirlo solo debemos machacar unas hojas y comerlas, aproximadamente una cucharada diaria seria lo adecuado.<br>Es excelente para realzar el cabello oscuro y resulta un buen antídoto contra la caspa. Los que tienen la piel muy grasa pueden aplicarse tanto una crema nutritiva anti-acné a base de perejil y lavanda como leche de menta y perejil.<br>Este tratamiento, combinado con una mascarilla facial de frecuencia semanal, puede producir resultados muy notables. También a base de perejil se elaboran lociones para los ojos y contra las arrugas y un excelente líquido para limpiarse la boca.</p>`)">
          <img src="../img/perejil2.png" class="plantas-img" alt="Perejil">
          <div class="image-overlay">Perejil</div> 
        </div>
        <!-- Romero -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>Se hace con él un eficaz remedio contra la caspa que, magnífico acondicionador y tónico del cabello, deja el cabello brillante y con aspecto sano; además puede prepararse en casa.<br>El romero también es bueno para tratamientos faciales al vapor, para echarlo en el agua del baño y para darse friegas en la piel. El Romero se usa para tratar la hipertensión arterial, el sobrepeso o la caída del cabello.<br>Es muy bueno para problemas digestivos, anti-espasmódico, sedante, tónico, diurético y estimulante del sistema nervioso.</p>`)">
          <img src="../img/romero2.png" class="plantas-img" alt="Romero">
          <div class="image-overlay">Romero</div> 
        </div>
        <!-- Salvia -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>Se usa en infusiones para excitar las secreciones y tonifica el sistema nervioso. Alivia la atonía del estómago y órganos digestivos, diarrea, dispepsias inveteradas, vómitos nerviosos, resfriados, catarros, fiebres nerviosas, gota, reumatismo crónico, congestión cerebral.<br>Favorece la cicatrización de las úlceras de las piernas y activa la circulación sanguínea. Descubre todas sus propiedades medicinales.<br>En la cocina se utiliza para condimentar carnes.</p>`)">
          <img src="../img/salvia2.png" class="plantas-img" alt="Salvia">
          <div class="image-overlay">Salvia</div> 
        </div>
        <!-- Tomillo -->
        <div class="image-container" onclick="mostrarTexto(`<p class='parrafo'>El tomillo sigue usándose para la elaboración de jabones y antisépticos y su papel es importante en muchos productos de tocador de elaboración casera. Con él se hace un tónico facial refrescante y astringente, un baño de pies relajante y un buen aditivo para el agua del baño, además de un champú delicioso.`)">
          <img src="../img/tomillo2.png" class="plantas-img" alt="Tomillo">
          <div class="image-overlay">Tomillo</div> 
        </div>

      </div>
      </section>
      
    </main>
  <footer>
    <h4>Derechos reservados ©2023</h4>
    <img src="../img/instagram (1).png" alt="" style="width: 3vw; margin-left: 45vw;" >
    <img src="../img/facebook.png" alt="Facebook" style="width: 3vw; margin-right: 45vw;">
    
   </footer>
   <script src="../js/index.js"></script>
  </body>
</html>
