<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/2_aloevera2.ico">
    <link rel="stylesheet" href="../css/recetas_medicinales.css">

    <title>Recetas Medicinales</title>
</head>
<body>

  <header>
    <nav class="header">
      <a class="hipervinculo" href="../index.html">Inicio</a>
      <a class="hipervinculo" href="plantas.html">Plantas</a>
      <a class="hipervinculo" href="recetas_medicinales.html">Recetas medicinales</a>
      <a class="hipervinculo" href="contacto.html">Contacto</a>
    </nav>
  </header>
  <main class="contenedor">

    <section class="recetas">
      <ul class="lista-receta">
        <li class="item">Para combatir la tos</li>
        <div class="contenido-receta">
          <p>
            <h3>Ajo</h3>
            Muele o pica 1 ajo.
            Mézclalo con 3 cucharadas de miel y, por último, añade 3 cucharadas aceite de oliva.
            Recuerda no cocinar el ajo por encima de los 60 ºC, ya que perdería sus propiedades.
            El jarabe obtenido va a tener un efecto calmante, debido a que tiene la propiedad de ablandar las mucosas en los bronquios.
          </p>
        </div>
        <li class="item">Combate el dolor de cabeza</li>
        <div class="contenido-receta">
          <p>
            <h3>Albahaca</h3>
            Se hierve 1 taza de  agua y se agregan 8 o 10  hojas, se deja reposar y luego se consume. 
            También se le puede adicionar un limón grande y miel si la persona la quiere con un poco de dulce agrega miel.
          </p>           
        </div>
        <li class="item">Quemaduras</li>
        <div class="contenido-receta">
          <p>
            <h3>Aloe Vera</h3>
            Corta 3 hojas,retírales las espinas laterales y ponlas en un recipiente con agua durante un mínimo de 24 horas; cambia el agua cada tres o cuatro horas para que todas las hojas expulsen una sustancia conocida como aloína, que puede resultar tóxica.
        Pasado 1 día, retíralas del agua para poder extraerles su pulpa.
        extrae todo el gel e incorpora 1 cucharada de jugo de limón y 1 cucharada de  aceite de germen de trigo .Bate la mezcla a velocidad media-alta hasta lograr una crema espesa de tonalidad blanca.
        Aplica sobre zona afectada 3 veces por semana.
          </p>   
        </div>
      </ul>
    </section>
 

  </main>
  <footer>
    <h4>Derechos reservados ©2023</h4>
    <img src="../img/instagram (1).png" alt="" style="width: 3vw; margin-left: 45vw;" >
    <img src="../img/facebook.png" alt="Facebook" style="width: 3vw; margin-right: 45vw;">
    
  </footer>
  <script src="../js/index.js"></script>
</body>
</html>